on:
  push:
    branches: ["main"]
jobs:
  build:
    runs-on: ubuntu-24.04-arm

    permissions:
      contents: "read"
      id-token: "write"
    steps:
      - name: Install trunk
        run: cargo binstall trunk
      - uses: actions/checkout@v4
      - uses: "google-github-actions/auth@v2"
        with:
          project_id: "bookish-funicular"
          service_account: "github-workflow@bookish-funicular.iam.gserviceaccount.com"
          workload_identity_provider: "projects/153575345186/locations/global/workloadIdentityPools/github/providers/my-repo"
      - name: "Set up Cloud SDK"
        run: 'gcloud info'
      - uses: cargo-bins/cargo-binstall@main
      - name: Script
        run: ./build_and_release_website.bash
